<h2>Todo List</h2>
<% if user_signed_in?%>
<%= current_user.name%> Hello
<%= link_to "登出",destroy_user_session_path, method:"delete" %>
<% else%>
<%= link_to "註冊", new_user_registration_path %>
<%= link_to "登入", new_user_session_path %>	
<% end%>
<ul>
<% @events.each do |event| %>
  <li>
 	<%= event.name %>
 	<%= finish(event)%>
 	<%= link_to 'Edit', edit_event_path(event) %>
  	<%= link_to 'Delete', event_path(event), method:"delete" %>
	<%= button_to btn_name(event), complete_event_path(event) %><br>
  </li>
<% end %>
<%= paginate @events %>
</ul>
<%= link_to 'New Event', new_event_path %>


<%=form_tag events_path,method:"get" do%>
<%=hidden_field_tag :status1,false%>
<%=submit_tag"undo"%>
<% end%>

<%=form_tag events_path,method:"get" do%>
<%=hidden_field_tag :status2,true%>
<%=submit_tag"done"%>
<% end%>

<%= button_to "All",events_path,method:"get"%>